/**
 * @file index.css
 * @description Styles globaux de l'application.
 * Ce fichier charge le framework Tailwind CSS et définit les comportements
 * de base du navigateur (police, fond, défilement).
 */

/* --- CHARGEMENT DE TAILWIND --- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- RÉINITIALISATION ET STYLES GLOBAUX --- */
:root {
  /* On définit la couleur de fond pour éviter le flash blanc au chargement */
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  
  /* Polices : On privilégie 'Inter' */
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Couleurs de base (Dark Mode) */
  background-color: #020617; 
  color: #f8fafc;

  /* Fix d'affichage : On bloque le scroll global ici car les pages 
     (Library, Game) gèrent leur propre défilement interne. */
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}


/* Permet de cacher la barre de défilement tout en gardant le scroll actif */
@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
  }
}